<H1>Conversations with Austin</H1>
<h2>Ad-hoc Template
<p>
<p>

Wait ... who is Austin, you ask? Austin the Apex Duck is my [Rubber Duck Debug buddy](https:en.wikipedia.org/wiki/Rubber_duck_debugging). Usually a pretty quiet type of guy, but I sense hidden depths of knowledge. Our chats usually start with me staring at something for a long time, then asking a question something like: "Hey Austin, what do you know about Kappa?". His usual response is: "Kappa? Tell me more, please". This usually starts a back and forth dialogue where he eggs (no pun intended!) me on to explain more. He's all about putting things in writing, which is why I'm sitting here taking notes which I'm cataloguing in a series called "Chats with Austin".

Salil Athalye
www.oratorvert.com

# Configure Environment and Install Packages

# Import Libraries

In [13]:
from datetime import datetime
from datetime import timezone
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import json
from google.colab import files

# Set Experiment Parameters

In [14]:
EXPERIMENT_NAME = 'lp_arima_1'
SESSION_ID = 3435
DATA_SOURCE = "https://lp-prod-resources.s3.amazonaws.com/250/43958/2021-02-04-19-15-15/H1.csv"
TARGET_COL = 'IsCanceled'
DOWNLOAD_ZIPFILE = False

In [15]:


dt = datetime.now()
dt.replace(tzinfo=timezone.utc)
utc_timestamp = dt.replace(tzinfo=timezone.utc).isoformat(timespec='seconds')
# Replace ':' and '-' and retain up to seconds
UTC_TIMESTAMP = utc_timestamp.replace(':','').replace('-',"")[:15]

# Load the data

In [16]:

dtype_mapping = {}
data  = pd.read_csv(DATA_SOURCE, dtype=dtype_mapping)


# Save any decisions we took on dtype mapping so we can reuse this in other applications
with open('dtype_mapping.json','w') as f:
  json.dump(dtype_mapping, f)

###Data Description


<p>
Target: IsCanceled, binary

In [17]:
data.shape

(40060, 31)

In [18]:
data.head(5)

   IsCanceled  LeadTime  ...  ReservationStatus ReservationStatusDate
0           0       342  ...          Check-Out            2015-07-01
1           0       737  ...          Check-Out            2015-07-01
2           0         7  ...          Check-Out            2015-07-02
3           0        13  ...          Check-Out            2015-07-02
4           0        14  ...          Check-Out            2015-07-03

[5 rows x 31 columns]

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40060 entries, 0 to 40059
Data columns (total 31 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   IsCanceled                   40060 non-null  int64
 1   LeadTime                     40060 non-null  int64
 2   ArrivalDateYear              40060 non-null  int64
 3   ArrivalDateMonth             40060 non-null  object
 4   ArrivalDateWeekNumber        40060 non-null  int64
 5   ArrivalDateDayOfMonth        40060 non-null  int64
 6   StaysInWeekendNights         40060 non-null  int64
 7   StaysInWeekNights            40060 non-null  int64
 8   Adults                       40060 non-null  int64
 9   Children                     40060 non-null  int64
 10  Babies                       40060 non-null  int64
 11  Meal                         40060 non-null  object
 12  Country                      39596 non-null  object
 13  MarketSegment                40060 non-null  object
 14  DistributionChannel          40060 non-null  object
 15  IsRepeatedGuest              40060 non-null  int64
 16  PreviousCancellations        40060 non-null  int64
 17  PreviousBookingsNotCanceled  40060 non-null  int64
 18  ReservedRoomType             40060 non-null  object
 19  AssignedRoomType             40060 non-null  object
 20  BookingChanges               40060 non-null  int64
 21  DepositType                  40060 non-null  object
 22  Agent                        40060 non-null  object
 23  Company                      40060 non-null  object
 24  DaysInWaitingList            40060 non-null  int64
 25  CustomerType                 40060 non-null  object
 26  ADR                          40060 non-null  float64
 27  RequiredCarParkingSpaces     40060 non-null  int64
 28  TotalOfSpecialRequests       40060 non-null  int64
 29  ReservationStatus            40060 non-null  object
 30  ReservationStatusDate        40060 non-null  object
dtypes: float64(1), int64(17), object(13)
memory usage: 9.5+ MB

In [20]:
data.isna().sum()

IsCanceled                       0
LeadTime                         0
ArrivalDateYear                  0
ArrivalDateMonth                 0
ArrivalDateWeekNumber            0
ArrivalDateDayOfMonth            0
StaysInWeekendNights             0
StaysInWeekNights                0
Adults                           0
Children                         0
Babies                           0
Meal                             0
Country                        464
MarketSegment                    0
DistributionChannel              0
IsRepeatedGuest                  0
PreviousCancellations            0
PreviousBookingsNotCanceled      0
ReservedRoomType                 0
AssignedRoomType                 0
BookingChanges                   0
DepositType                      0
Agent                            0
Company                          0
DaysInWaitingList                0
CustomerType                     0
ADR                              0
RequiredCarParkingSpaces         0
TotalOfSpecialRequests           0
ReservationStatus                0
ReservationStatusDate            0
dtype: int64

In [21]:
data.describe()

         IsCanceled  ...  TotalOfSpecialRequests
count  40060.000000  ...             40060.00000
mean       0.277634  ...                 0.61977
std        0.447837  ...                 0.81393
min        0.000000  ...                 0.00000
25%        0.000000  ...                 0.00000
50%        0.000000  ...                 0.00000
75%        1.000000  ...                 1.00000
max        1.000000  ...                 5.00000

[8 rows x 18 columns]

In [22]:
data[TARGET_COL].value_counts()

0    28938
1    11122
Name: IsCanceled, dtype: int64

# Perform Basic Exploratory Data Analysis

In [31]:
data['YYYYWW'] = data['ArrivalDateYear'].map(str) + data['ArrivalDateWeekNumber'].map(str)

In [38]:
weekly_cancellations = data[['YYYYWW','IsCanceled']] \
  .groupby(['YYYYWW']) \
  .agg({'IsCanceled':sum})

In [39]:
weekly_cancellations

        IsCanceled
YYYYWW
201527          41
201528          48
201529          87
201530          74
201531         101
...            ...
20175           51
20176           91
20177           96
20178          128
20179           77

[115 rows x 1 columns]